@import 'variables';

/* GENERAL */
* {
    box-sizing: border-box;
    font-family: $primary-font;
    font-size: 16px;
    line-height: 20px;
}

body {
    margin: 0;
    background-color: #FFFFFF;
    color: #000;
}

main {
    max-width: 992px;
    margin: auto;
}

section {
    padding: 50px 20px;
}


h1,
h2,
h3 {
    font-weight: 700;
    margin-top: 0;
}

h1,
h2 {
    font-size: 28px;
    line-height: 34px;
}

a {
    text-decoration: none;
    color: inherit;
}


button {
    display: block;
    border-radius: 50px;
    height: 50px;
    padding: 0 25px;
    margin: 10px auto;
    color: #FFF;
    border: none;
    background: linear-gradient(0deg, $primary-color 0%, $secondary-color 100%);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);

    &:hover {
        cursor: pointer;
        background: linear-gradient(0deg, lighten($primary-color, 5%) 0%, lighten($secondary-color, 5%) 100%);
        box-shadow: 3px 3px 10px rgba(0, 0, 0, .35);
    }
}

/* UTILITIES */
.flexbox {
    display: flex;
}

.flexbox.align-center {
    align-items: center;
}

.flexbox.center {
    justify-content: center;
}

.flexbox.space-between {
    justify-content: space-between;
}

.flexbox.column {
    flex-direction: column;
}

/* HEADER */
header {
    .header-logo {
        height: 60px;
    }
}

/* LIKE ICON BEHAVIOR */
i.fa-heart {
    font-weight: 100;
    font-size: 26px;
    height: 26px;
    display: inline-block;
    position: relative;
    color: #000;

    &:hover {
        cursor: pointer;
    }

    &:after {
        font-family: FontAwesome;
        content: "\f004";
        position: absolute;
        left: 0;
        top: 0;
        height: 0;
        overflow: hidden;
        background: linear-gradient(0deg, $secondary-color 0%, $primary-color 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: like-empty 500ms ease forwards;
    }

    &:hover:after {
        animation: like-fill 500ms ease forwards;
    }
}

/* FOOTER */
footer {
    padding: 25px;
    gap: 15px;
    color: #FFF;
    background-color: #2E2E2E;

    span {
        font-family: $secondary-font;
        font-size: 20px;
    }

    a {
        i {
            width: 25px;
        }
    }
}

/* ANIMATIONS */
@keyframes like-fill {
    from {
        height: 0;
    }

    to {
        height: 100%;
    }
}

@keyframes like-empty {
    from {
        height: 100%;
    }

    to {
        height: 0;
    }
}