@import 'variables';

/* GENERAL */
* {
    box-sizing: border-box;
    font-family: $primary-font;
    font-size: 16px;
    line-height: 20px;
}

body {
    margin: 0;
    background-color: #FFFFFF;
    color: #000;
}


section {
    padding: 50px 20px;
}


h1,
h2,
h3 {
    font-weight: 700;
    margin-top: 0;
}

h1,
h2 {
    font-size: 28px;
    line-height: 34px;
}

a {
    text-decoration: none;
    color: inherit;
}

/* UTILITIES */
.flexbox {
    display: flex;
}

.flexbox.align-center {
    align-items: center;
}

.flexbox.center {
    justify-content: center;
}

.flexbox.space-between {
    justify-content: space-between;
}

.flexbox.column {
    flex-direction: column;
}

/* HEADER */
header {
    .header-logo {
        height: 60px;
    }
}
/* FOOTER */
footer {
    padding: 25px;
    gap: 15px;
    color: #FFF;
    background-color: #2E2E2E;

    span {
        font-family: $secondary-font;
        font-size: 20px;
    }

    a {
        i {
            width: 25px;
        }
    }
}